# Папки и файлы, которые следует игнорировать

# Виртуальное окружение Python
venv/

# Файлы настроек Django
*.pyc
*.pyo
*.pyd
__pycache__/

# Файлы логов
*.log

# IDE-специфичные файлы и папки (настройте их сами, если нужно)
.idea/
.vscode/

