.input{
    display: block;
    width: 100%;
    border-radius: 10px;
    border: none;
    
    margin: 8px 0 0 0;
    font-weight: 500;
    color: #fff;
  
    input{
      padding: 16px 32px;
      background: rgba(195, 212, 233, 0.05);
    }
  }