/*footer*/

.footer{
    display: flex;
    justify-content: space-between;
    max-width: 1400px;
    margin: 0 auto;
    padding: 30px 20px;
  
    &__left{
      width: 30%;
    }
  
    &__right{
      display: flex;
      gap: 60px;
    }
    &__list{
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 0 0 5px 0;
      & li:first-child{
        font-weight: 600;
        font-size: 20px;
        & a{
          color: #fff;
        }
      }
      & a{
        color: rgba(255, 255, 255, 0.6);
      }
    }
  }